/.vscode
/a.csv
/bithumb
/Card.jpg
/crawl.py
/dad.py
/dogs-vs-cats-redux-kernels-edition
/dogs-vs-cats-redux-kernels-edition.zip
/fashion.py
/gpascore.csv
/haarcascade_frontalface_default.xml
/handwritten-digits-classification.jpg
/index.html
/instagram
/kaggle.json
/naver
/pianoabc.txt
/richeville.csv
/Shapes.jpg
/students.jpg
/tensor.py
/tensor2.py
/tensor3.py
/tensor4.py
/tensor5.py
/test.csv
/train.csv
/walk.jpg
/__pycache__
/다운로드2.png